.smsru-form-margin {
    margin-top: 10px;
    word-wrap: break-word;
    position: relative;
}
.smsru-form .smsru-textarea {
	height: 189px;
    width: 100%;
	min-height: 58px;
    resize: none;
    display: block;
}
.smsru-form-dp .smsru-textarea-dp {
	height: 189px;
    width: 100%;
	min-height: 58px;
    resize: none;
    display: block;
}
.smsru-form .select2-container--default .select2-search--inline .select2-search__field {
    font-size: 15px;
    height: 15px;
    line-height: 1;
    width: 100% !important;
}
.smsru-form .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #d4d5d8;
    outline: 0;
}
.smsru-form .select2-container .select2-selection--multiple {
    border: 1px solid #d4d5d8;
}
.smsru-form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
}
.smsru-form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #dd6567;
}
.smsru-form .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    max-height: 73px;
    overflow-y: auto;
}
.smsru_sending_popup {
	background-color: #fff;
	border: 1px solid #d4d5d8;
	border-top: 0px;
	border-radius: 3px;
	box-sizing: border-box;
	display: none;
	padding: 5px 7px;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	z-index: 10;
}
#smsru_sending_input {
	width: 100%;
}
#smsru_sending_wrapper .smsru_sending_popup_row {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
#smsru_sending_wrapper .smsru_sending_popup_label {
	width: 67px;
	flex-shrink: 0;
	cursor: pointer;
}
#smsru_sending_wrapper .smsru_sending_popup_input .date_field_wrapper,
#smsru_sending_wrapper .smsru_sending_popup_input .text-input {
	height: 29px;
}
#smsru_err {
	color: #FF8686;
	font-size: 11px;
}
.smsru-form {
    cursor: default;
}
.smsru-form input:hover, .smsru-form button:hover {
	cursor: pointer;
}
.smsru_edit_templates {
    color: #2a84c0;
}
.smsru-modal-window .modal-body {
	width: 760px;
	min-height: 478px;
	padding: 0;
}
#smsru_edit_tpl, #smsru_upd_tpl {
	font-size: smaller;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.smsru_edit_tpl, .smsru_upd_tpl {
	color: #2a84c0;
}
#smsru_tp_macroses {
	overflow-y: auto;
	height: 200px;
}
#smsru_tp_macroses .sms_ru_tpl_markers__title {
	margin-bottom: 15px;
}
#smsru_tp_macroses .marker-list__tag-bot {
	overflow: hidden;
	margin-right: 5px;
	text-overflow: ellipsis;
	flex-basis: 200px;
}
#smsru_tp_details {
	width: 55%;
	float: left;
	padding: 25px;
}
#smsru_tp_list {
	float: left;
	width: 35%;
	padding: 25px 25px 25px 0;
}
#sms-templates_header {
	font-size: 20px;
	line-height: 37px;
	color: #313942;
	margin: 0 0 6px;
}
.sms-templates_holder {
	max-height: 220px;
	overflow-y: auto;
}
.sms-templates_holder .template-item__body {
	padding: 3px 33px 3px 5px;
}
.sms-templates_holder .template-item__body-inner {
	width: 100%;
}
.sms-templates_holder .template-item__name {
	color: inherit;
}
.sms-templates_holder .template-item__body-edit {
	padding: 3px 10px 0 0;
}
#smsru_savetps {
	float: right;
}
#smsru_tpname {
	width: 100%;
	margin-bottom: 15px;
}
#smsru_tpcontent {
    width: 100%;
    margin-bottom: 15px;
    min-height: 160px;
}
#sms-templates_wrapper {
    margin-bottom: 15px;
    height: 375px;
}
#smsru_tp_macroses {
	border: 1px solid #dbdedf;
    border-radius: 3px;
    padding: 5px;
}
.smsru-form-dp {
	width: 420px;
	margin-bottom: 10px;
}