<div class="smsru-form">
    <div class="smsru-form-margin">
        Баланс: <span id = "smsru-balans">{{ balans }}</span>
    </div>
    <div id = "smsru_wrap_tpl" class="smsru-form-margin">
        {{ templates }}
    </div>
    <div class="smsru-form-margin">
        {{ textarea }}
    </div>
    <div class="smsru-form-margin smsru-block-translit">
        {{ translit }}
    </div>
    <div class="smsru-form-margin">
        {{ senders }}
    </div>
    <div class="smsru-form-margin">
        <select id = "smsru-multiple-select" class="smsru-multiple-select" multiple="" tabindex="-1" aria-hidden="true"></select>
    </div>
    <div class="smsru-form-margin smsru_elem smsru_sending" id ="smsru_sending_wrapper">
        <div class="smsru_sending_field">
            {{ sending }}
        </div>
        <div class="smsru_sending_popup">
            <div class="smsru_sending_popup_row">
                <label class="smsru_sending_popup_label" for="smsru_date">{{ lang.date }}</label>
                <div class="smsru_sending_popup_input">
                    {{ date }}
                </div>
            </div>
            <div class="smsru_sending_popup_row">
                <label class="smsru_sending_popup_label" for="smsru_time">{{ lang.time }}</label>
                <div class="smsru_sending_popup_input">
                    {{ time }}
                </div>
            </div>
        </div>
    </div>
    <div class="smsru-form-margin">
        {{ button }}
    </div>
    <div class="smsru-form-margin">
        <div id="smsru_err">На этот номер (или один из номеров) нельзя отправлять сообщения</div>
    </div>
</div>